{% extends 'base.html.twig' %}

{% block title %}Musée du Louvre{% endblock %}
{% block stylesheets %}
    <link href="css/identifications_image.css" rel="stylesheet" type="text/css">
{% endblock %}



{% block body %}

    <div class="container">
        <ul class="progressbar">
            <li class="active">Choix des billets</li>
            <li class="active">Identifications</li>
            <li>Récapitulatif & Paiement</li>
            <li>Confirmation du paiement</li>
        </ul>
    </div>

    <br/>
    <br/>
    <br/>
    

    
    <section class="formulaire">
        {{form_start(forminfo_client)}}
        {% set index = 1 %}  
        {% for infoClient in forminfo_client.listeInfoClient %}
     
            <label for=""><strong>Formulaire du billet n°</strong></label>{{index}}</br>
            <label for="">Nom :</label>
            {{form_widget(infoClient.nom)}}
            <label for="">Prénom :</label>
            {{form_widget(infoClient.prenom)}}
            <label for="">Le pays de résidence :</label>
            {{form_widget(infoClient.pays)}}
            <label for="">Date de naissance :</label>
            {{form_widget(infoClient.date_naissance)}}
            <label for="">Tarif Réduit (accordé seulement aux étudiants, aux employés du musée, à un service du Ministère de la Culture ou bien aux militaires) :<br/>
            Un justificatif vous sera demandé le jour de la visite</label>
            {{form_widget(infoClient.acces_reduit)}}
            {% set index = index + 1 %}
            </br>
        {% endfor %}

        <button type="submit" class="btn btn-success" href="/recap_paiement">Continuer</button>
        {{form_end(forminfo_client)}}
    </section>
{% endblock %}
