{% extends 'base.html.twig' %}

{% block title %}Musée du Louvre{% endblock %}
{% block stylesheets %}
    <link href="css/recap_image.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <div class="container">
        <ul class="progressbar">
            <li class="active">Choix des billets</li>
            <li class="active">Identifications</li>
            <li class="active">Récapitulatif & Paiement</li>
            <li>Confirmation du paiement</li>
        </ul>
    </div><br/>
    <br/><br/>
    <br/>

    <section class="recap">
        <label for=""><strong>Récapitulatif</strong></label></br>
        <textarea>Nombre de billets :{{nbBillet}}</textarea>
        <textarea>Date de visite :{{dateBillet}}</textarea>
        <textarea>Email du client {{title}}</textarea>
        <textarea>Prix total: {{price_total}} €</textarea>
    </section>
    </br><br/>
    
    <section class="formBillet">
        {% set index = 1 %}
        {% for infoClient in groupe_client.getListeInfoClient %}
     
            <div><label for=""><strong>Formulaire du billet n° </strong></label>{{index}}</div></br>
            <p><label for="">Nom : {{infoClient.nom}} </label></p>
            <p><label for="">Prénom : {{infoClient.prenom}} </label></p>
            <p><label for="">Le pays de résidence : {{infoClient.pays}} </label></p>
            <p><label for="">Date de naissance : {{infoClient.getDateNaissance.format('d/m/Y')}} </label></p>
            <p><label for="">Tarif Réduit : {{infoClient.getAccesReduit}} </label></p>
            <p><label for="">Prix du billet : {{infoClient.getPriceClient(type_jour)}} €</label></p>
        {% set index = index + 1 %}
        </br></br>
        {% endfor %}
    </section>
    
    {#        
            <p><label for="">Nom : {{infoClient.nom}} </label></p>
            <p><label for="">Prénom : {{infoClient.prenom}} </label></p>
            <p><label for="">Le pays de résidence : {{infoClient.pays}} </label></p>
            <p><label for="">Date de naissance : {{infoClient.date_naissance}} </label></p>
            <p><label for="">Tarif Réduit : {{infoClient.acces_reduit}} </label></p>
    #}
    <section class="formPayer">
        <form action="/confirmation" method="post" id="payment-form">
            <div class="form-row">
                    <label for="card-element">
                    Payer par carte bancaire :
                    </label>
                <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button>Payer maintenant!</button>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
  
<script src="js/stripePayment.js"></script>

{% endblock %}

